// Header
.main-header {
  background: #4A90E2;
  padding: 15px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  // perfil
  > .perfil {
    display: flex;
    align-items: center;

    > img {
      margin-right: 15px;
      cursor: pointer;
    }

    > .icon {
      position: relative;
      cursor: pointer;

      &.active {
        i {
          color: #fff;
        }

        span {
          display: inline;
          position: absolute;
          font-size: 12px;
          background: #F34337;
          color: #fff;
          padding: 3px 7px;
          border-radius: 50%;
          top: -11px;
          left: 20px;
        }
      }

      i {
        margin: 0px 9px;
        color: #0D1524;
        font-size: 20px;
      }

      span {
        display: none;
      }
      
    }
  }
}